<div id="nav">
    <nav role="navigation" class="primary-navigation">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a routerLink="/list">Flowers</a>
                <ul class="dropdown">
                    <li><a routerLink="/list">List Flowers</a></li>
                    <li><a routerLink="/create-flower">Add Flower</a></li>
                    <li><a routerLink="/search">Search Flower</a></li>
                </ul>
            </li>
            <li><a routerLink="/faq">FAQ</a></li>
            <li><a routerLink="/contact">Contact</a></li>
        </ul>
    </nav>
</div>