<app-navbar></app-navbar>
<div class="container-contact100">

    <div class="wrap-contact100">
        <span class="contact100-form-symbol">
				<img src="../../../assets/img/flower.png" alt="Flower House">
			</span>

        <form class="contact100-form validate-form flex-sb flex-w">
            <span class="contact100-form-title">
					Send us an Email
				</span>

            <div class="wrap-input100 rs1 validate-input" data-validate="Name is required">
                <input class="input100" type="text" name="name" placeholder="Name">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 rs1 validate-input" data-validate="Email is required: e@a.z">
                <input class="input100" type="text" name="email" placeholder="Email Address">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Message is required">
                <textarea class="input100" name="message" placeholder="Write Us A Message"></textarea>
                <span class="focus-input100"></span>
            </div>

            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn">
						Send
					</button>
            </div>
        </form>
    </div>
</div>