<body>
    <!-- Header -->
    <header id="header">
        <div class="inner">
            <app-navbar></app-navbar>
        </div>
    </header>

    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <header>
                <h1>Flower House</h1>
            </header>

            <div class="flex ">
                <div>
                    <span class="icon fas fa-seedling"></span>
                    <h3>Specialized</h3>
                    <p>We are have 15 years of experience</p>
                </div>

                <div>
                    <span class="icon fab fa-pagelines"></span>
                    <h3>Care</h3>
                    <p>Healthy flowers is our way</p>
                </div>

                <div>
                    <span class="icon fas fa-globe-americas"></span>
                    <h3>Easy to access</h3>
                    <p>You can find us anywhere</p>
                </div>

            </div>

            <footer>
                <a href="#" class="button">Get Started</a>
            </footer>
        </div>
    </section>


    <!-- Three -->
    <section id="three" class="wrapper align-center">
        <div class="inner">
            <div class="flex flex-2">
                <article>
                    <div class="image round">
                        <img src="../../../assets/img/pic01.jpg" alt="Pic 01" />
                    </div>
                    <header>
                        <h3>Use any device<br /> to find us</h3>
                    </header>
                    <p>Find out what places are we located</p>
                    <footer>
                        <a href="#" class="button">Learn More</a>
                    </footer>
                </article>
                <article>
                    <div class="image round">
                        <img src="../../../assets/img/pic02.jpg" alt="Pic 02" />
                    </div>
                    <header>
                        <h3>Your opinion is<br /> very important</h3>
                    </header>
                    <p>Our main objective is to have the best for you. <br>Find out what flower whe have in stock!</p>
                    <footer>
                        <a href="#" class="button">Learn More</a>
                    </footer>
                </article>
            </div>
        </div>
    </section>
</body>